.transaction-add-form__container {
  width: 100%;
  height: calc(100vh - 50px);
  padding: 30px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transaction-add-form__card {
  padding: 30px;
}

.transaction-add-form {
  display: flex;
  flex-direction: column;

  min-width: 280px;
  width: 80vw;
  max-width: 800px;
}

.transaction-add-form__buttons {
  margin-top: 20px;
}

.transaction-add-form__button {
  margin: 10px 0;
  width: 100%;
  position: relative;
}

.transaction-add-form__progress {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 2px;
}

.transaction-add-form__error {
  text-align: center;
  font-size: 0.8em;
  color: red;
  height: 20px;
  margin-top: 20px;
}

.transaction-add-form__field {
  margin: 5px 0;
}

.fill-width {
  flex: 1;
}

.mat-form-field-flex {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}

.transaction-add-form__radio-group {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
